<tr>
  <td><%= e.collector %></td>
  <td><%= make_money(e.amount) %></td>

  <td><%= link_to 'Edit', edit_exchange_path(e) %></td>
  <td><%= link_to 'Destroy', e, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
